// .footer {
//   background: #27c2ad;
//   color: #fff;
//   text-align: center;
//   padding: 20px;
// }
.footer-green {
  background-color: #20c7b7;
  padding: 30px 0;
  color: #fff;

  .footer-logo {
    font-weight: 700;
  }

  .footer-links {
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      font-size: 15px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
