//desktop

.newsletter-section {
  background-color: #F7FCFC;
  padding: 90px 20px;
}

.newsletter-container {
  max-width: 1440px; 
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

/* IMAGE */
.newsletter-image-wrapper {
  display: flex;
  justify-content: center;
}

.newsletter-image {
  max-width: 380px;
  width: 100%;

  opacity: 0.4;  
  filter:
    invert(45%)
    sepia(80%)
    saturate(700%)
    hue-rotate(130deg)
    brightness(90%)   
    contrast(120%);  
}

/* CONTENT */
.newsletter-content h2 {
  font-size: 36px;
  font-weight: 700;
  color: #2b2b2b;
  margin-bottom: 12px;
}

.newsletter-content p {
  font-size: 16px;
  color: #4f4f4f;
  margin-bottom: 30px;
  max-width: 420px;
}

/* FORM */
.newsletter-form {
  display: flex;
  gap: 16px;
}

.newsletter-input {
  width: 300px;
  height: 50px;
  padding: 0 16px;
  border-radius: 6px;
  border: 1px solid #9aa5a5;
  font-size: 15px;
}

.newsletter-input:focus {
  outline: none;
  border-color: #20c7b7;
}

/* BUTTON */
.newsletter-btn {
  height: 50px;
  padding: 0 36px;
  background-color: #ffffff;
  border: 2px solid #20c7b7;
  color: #20c7b7;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter-btn:hover {
  background-color: #20c7b7;
  color: #ffffff;
}

//tablet

@media (max-width: 720px) {
  .newsletter-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .newsletter-form {
    flex-direction: column;
    gap: 12px;
  }

  .newsletter-input,
  .newsletter-btn {
    width: 100%;
  }

  .newsletter-image {
    max-width: 300px;
    opacity: 0.45;
  }

  .newsletter-content h2 {
    font-size: 28px;
  }

  .newsletter-content p {
    font-size: 14px;
    max-width: 100%;
  }
}

//mobile

@media (max-width: 360px) {
  .newsletter-section {
    padding: 60px 16px;
  }

  .newsletter-content h2 {
    font-size: 24px;
  }

  .newsletter-content p {
    font-size: 13px;
  }

  .newsletter-image {
    max-width: 200px;
    opacity: 0.5;
  }

  .newsletter-form {
    gap: 8px;
  }

  .newsletter-input,
  .newsletter-btn {
    font-size: 14px;
    height: 45px;
  }
}
