/* Mobile */
@media (max-width: 360px) {
  h2 {
    font-size: 18px;
  }
}

/* Tablet */
@media (min-width: 720px) {
  h2 {
    font-size: 22px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  h2 {
    font-size: 28px;
  }
}
