//section
.offers-section {
  padding: 30px 0 50px;
}

//header
.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;

  h4 {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin: 0;
  }

  select {
    height: 38px;
    border-radius: 8px;
    border: 1px solid #dfe5ea;
    padding: 0 12px;
    font-size: 13px;
    background: white;
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: #27c2ad;
    }
  }
}


.offers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}


.property-card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);

  height: 325px;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 26px rgba(0, 0, 0, 0.1);
  }

  img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
  }

  .card-body {
    padding: 14px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  h4 {
    font-size: 15px;
    font-weight: 600;
    color: #222;
    line-height: 1.35;


    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    min-height: 40px;
  }

  .price {
    color: #18bfa3;
    font-weight: 600;
    font-size: 14px;
  }

  .location {
    font-size: 13px;
    color: #777;
  }
}


/* TABLET   */


@media (max-width: 720px) {
  .offers-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .property-card {
    height: 310px;
  }

  .property-card img {
    height: 170px;
  }
}


@media (max-width: 360px) {
  .property-card img {
    height: 140px;
  }

  .property-card h4 {
    font-size: 13px;
  }
}

//mobile

@media (max-width: 360px) {
  .offers-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .property-card img {
    height: 140px;
  }

  .property-card h4 {
    font-size: 13px;
  }
}

//desktop
@media (min-width: 1025px) {
  .offers-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
  }

  .property-card {
    height: 325px;
  }

  .property-card img {
    height: 190px;
  }
}